default:
    image: nixpkgs/nix-flakes
unittests:
    stage: test
    script:
        - ./script/test_config/install.sh
        - nix run .#unittest

tools:
    stage: test
    script:
        - ./script/test_config/install.sh
        - cd tests
        - nix run .. -- all

#slang:
#    stage: test
#    script:
#        - ./script/test_config/install.sh
#        - cd tests/work/slang
#        - nix run .. -- simple
